<ion-content [fullscreen]="true" class="home-content">
  <div class="page-bg">
    <div class="card">
      <div class="title-bar">
        <h1>Inicio</h1>
      </div>

     
      <div class="input-area">
        <input type="text" placeholder="¿Qué estas pensando hoy?" />
      </div>

      <div class="actions">
        <button type="button" class="action-btn" (click)="seleccionarImagen()">
          <ion-icon name="image-outline"></ion-icon>
        </button>

       <button type="button" class="action-btn" (click)="goToMapPage()">
         <ion-icon name="location"></ion-icon>
      </button>
      
      </div>

      <div class="preview-container" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Imagen seleccionada" class="preview-image" />
      </div>
    </div>
  </div>
</ion-content>